* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
}


.header {
    background-color: rgb(26, 106, 145);
    width: 100vw;
    height: 60px;
    /* position: fixed; */
}

.dropbtn {
    background-color: #00000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;

}


.dropdown {
    position: absolute;
    display: flex;
    margin-left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content ul li {
    list-style-type: none;
    list-style: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style-type: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

nav ul {
    list-style-type: none;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 106, 145);
    width: 100vw;
    height: 298px;

}


.heading>h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    height: 600px;
    width: 100vw;
}



.frontpage {
    position: absolute;
}

.frontpage>img {
    max-height: 800px;
    width: 100vw;
}


.text {
    position: absolute;
    align-items: flex;
    top: 50px;
    right: 35vw;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(44, 44, 44);
    padding-left: 20px;
    padding-right: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
}

.mainfront {
    width: 100vw;
    height: 100vw;
    background-color: #ddd;
}

.mainfront>img {
    max-width: 500px;
    max-height: 500px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}


/* -- FORM CODE CSS-- */
form {
    margin-top: 20rem;
    width: 100%;
    display: flex;
    background-color: chocolate;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.EVC__Form-Container__Left {
    width: 50%;
}

.EVC__Form-Container__Left h2 {
    text-align: center;
    font-size: 4rem;
    color: #000;
}

.EVC__Form-Container__Left #FirstName,
.EVC__Form-Container__Left #LastName,
.EVC__Form-Container__Left #email,
.EVC__Form-Container__Left #YearLevel {
    padding: 1rem;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px rgb(255, 0, 0) solid;
    margin-top: 0rem;
    height: 1.5rem;
    border-radius: 3px;
    /* background-color: transparent; */
    color: rgb(255, 0, 0);
}

.EVC__Form-Container__Left #FirstName::placeholder,
.EVC__Form-Container__Left #LastName::placeholder,
.EVC__Form-Container__Left #email::placeholder,
.EVC__Form-Container__Left #YearLevel::placeholder {
    color: rgb(255, 0, 0);
}

.EVC__Form-Container__Left #submit {
    width: 80%;
    height: 2rem;
    color: #000;
    border: 2px #000 solid;
    margin-left: 10%;
    margin-top: 1rem;
    transition: all 0.3s ease 0s;
}

.EVC__Form-Container__Left #submit:hover {
    opacity: 0.5;
    background-color: azure;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}